#backgroundPicGallery {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,  #3B0563, #6E2BA0, #833DB7);
}

.contactGrid {
    display: grid;
    grid-template-rows: auto auto; 
    padding: 5% 5% 5% 6%;    
}

.contactHeader {
    font-family: "Fredoka One";
    font-size: 32px; 
    color: white;
}

.contactPreamble {
    color: white;
    font-size: 17px;
    font-family: "Roboto Slab";
}

.contactPreamble p i {
    color: #FF5600;
    margin-left: 1%;
}

.contactAddress p {
    font-family: "Roboto Slab";
    font-size: 17px;
    color: white;
    margin-bottom: 10%;

}

.contactAddress p i {
    color: #FF5600;
    margin-right: 1%;
}

form {
    background-color: white;
    width: 90%;
    font-family: "Roboto Slab";
    color: black;
    border-radius: 10px;
    padding: 5% 5% 5% 5%;
    box-shadow: 10px 10px 10px 10px  #3B0563;
}

form label {
    font-size: 14px;
    color: black;
    font-family: "Fredoka One";
}

.errorMessage {
    background-color: #E0A9AD;
    color: red;
    font-family: "Roboto Slab"; 
    text-align: left;
    font-size: 14px;
    opacity: 0;
    transform: translateY(-100%);
}

.errorMessage2 {
    background-color: #E0A9AD;
    color: red;
    font-family: "Roboto Slab"; 
    text-align: left;
    font-size: 14px;
    opacity: 1;
    transform: translateY(0);
    transition: transform 2s;
}

.succesMessage {
    background-color: rgba(200, 243, 209, 0.63);
    color: green;
    font-family: "Roboto Slab"; 
    text-align: left;
    font-size: 14px;
    opacity: 0; 
    transform: translateY(-100%);
}

.succesMessage2 {
    background-color: rgba(200, 243, 209, 0.63);
    color: green;
    font-family: "Roboto Slab"; 
    text-align: left;
    font-size: 14px;
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s; 
}

form input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    margin-bottom: 6%;
    font-size: 12px;
    border-radius: 5px;
}

form input:focus {
    outline: none !important;
    border: 1px solid #FF5600;
}

textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    border-radius: 5px;
}

textarea:focus {
    outline: none;
    border: 1px solid #FF5600;
}

form button {
    margin-top: 2%;
    background-color:  #FF5600;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

form button:hover{
    background-color: white;
    color: black;
    border: 1px solid   #FF5600;
}

.googleAddress {
    width: 100%;
    margin-top: 0;
}

.googleAddress iframe {
    width: 100%;
}

#contactRights {
    padding-top: 1%;
    color: white;
    text-align: center;
    font-family: "Roboto slab";
}

.galleryGrid {
    display: grid;
    grid-template-rows: auto ;
    padding: 5% 1% 1% 1%;
}

.galleryGrid div {
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.galleryGrid img {
    width: 100%;
    height: 350px;
    /* margin-right: 20%; */
}

@media only screen and (min-width: 768px) {
.contactGrid {
    display: grid;
    grid-template-columns: 50% 50%; 
    padding: 5% 5% 5% 6%;    
}



form {
    background-color: white;
    width: 70%;
    font-family: "Roboto Slab";
    color: black;
    border-radius: 10px;
    padding: 5% 5% 5% 5%;
    box-shadow: 10px 10px 10px 10px  #3B0563;
}

/* css gallery.html */
.galleryGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5% 1% 1% 1%;
}

.galleryGrid div {
    margin-right: 5%;
    margin-bottom: 5%;
}

.galleryGrid img {
    width: 100%;
    height: 350px;
    /* margin-right: 20%; */
}
}

